body {
    margin: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.avatar {
    width: 150px;
}

h3 {
    text-shadow: 2px 5px 10px #bde0fe
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #ffafcc;
    color: #2b2839;
    border-bottom: 6px solid #bde0fe;
    border-top: 6px solid #bde0fe;
    border-radius: 5px;
}

.border-blue {
    border: 1px dotted blue;
}

button {
    color: #2b2839;
    background-color: snow;
    padding: 5px 10px 5px 10px;
    border: 2px solid #bde0fe;
    border-radius: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
}

button:hover {
    background-color: #bde0fe;
}
/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

/*
Final challenge:
Download the code to your local computer and place it
in a folder called "business-card"
*/
